label {
    margin:35px 0 15px;
    display:inline-block;
  }
    
  span {
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
  }
  
  input[type="text"] {
    padding:10px;
  }

  input:focus[type="text"] + span, input:not(:placeholder-shown)[type="text"] + span {
    opacity:1;
    transform: scale(1.1) translateY(-85%);
  }
  
  /* For IE Browsers*/
  input:focus[type="text"] + span, input:not(:-ms-input-placeholder)[type="text"][type="text"] + span {
    opacity:1;
    transform: scale(1) translateY(-100%) translateX(-30px);
  }